@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

/* -- Universal Styles --*/

html {
	font-size: 18px;
	background-color: #424949;
	font-family: 'Open Sans', sans-serif;

}


/*-- Header ----------------------------------------------------------*/

.header{
	display: flex;
	justify-content: center;
}

.container {
	width: 53.3rem;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;

}


.mobile {
	display: none;
}

.logo {
	display: flex;
	padding-left: 2rem;
	font-size: 1.2rem;
}

.logo img {
	height: auto;
	max-width: 4rem;
	display: block;
}

.logo h4 {
	color: #09AF69;
	border-bottom: .09rem solid #09AF69;
	text-shadow: 10px 10px 10px lightgrey;
	padding-left: .7rem;
}

.logo span {
	font-weight: 800;
}

.desktop ul {
	display: flex;

}

ul li {
	padding: .8rem;
}

.desktop a:hover {
	border-bottom: .09rem solid #09AF69;
	transition: border-bottom .2s linear 0;
}

/* -- Media Queries for Mobile -- */

@media only screen and (max-width: 750px){
	.nav .desktop {
		display: none;
	}

	.nav .mobile {
		display: inline;
	}

	.mobile ul {
		display: flex;

	}

	.mobile ul li {
		padding: 2rem;
	}
}

@media only screen and (max-width: 540px){
	.nav .desktop {
		display: none;
	}

	.nav .mobile {
		display: inline;
	}

	.mobile ul {
		display: flex;

	}

	.mobile ul li {
		padding: 1.1rem;
	}
}















































