@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');

/* -------------------------------------------------------- Universal Styles --*/

html {
	font-size: 18px;
	background-color: #F3F5F5;
	font-family: 'Open Sans', sans-serif;

}

/*#D8D8D8*/


/*----------------------------------------------------------------- Header ---*/

.header{
	display: flex;
	justify-content: center;
}

.header .container {
	width: 66.66rem;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}


.mobile {
	display: none;
}

.logo {
	display: flex;
	font-size: 1.2rem;
}

.logo img {
	height: auto;
	max-width: 4rem;
	display: block;
}

.logo h4 {
	color: #09AF69;
	/*color: #00A3BC;*/
	border-bottom: .09rem solid #09AF69;
	/*border-bottom: .09rem solid #00A3BC;*/
	text-shadow: 10px 10px 10px lightgrey;
}

.logo span {
	font-weight: 800;
}

.desktop ul {
	display: flex;

}

ul li {
	padding: .8rem;
}

.desktop a:hover {
	border-bottom: .09rem solid #09AF69;
	transition: border-bottom .2s linear 0;
}

/* -- Media Queries for Mobile -- */

@media only screen and (max-width: 750px){
	.nav .desktop {
		display: none;
	}

	.nav .mobile {
		display: inline;
	}

	.mobile ul {
		display: flex;

	}

	.mobile ul li {
		padding: 2rem;
	}

	.logo h4 {
		display: none;
	}
}

@media only screen and (max-width: 540px){
	.nav .desktop {
		display: none;
	}

	.nav .mobile {
		display: inline;
	}

	.mobile ul {
		display: flex;

	}

	.mobile ul li {
		padding: 1.1rem;
	}

	.logo h4 {
		display: none;
	}

}

/*-------------------------------------------------- Learn Something new Banner -- */

.learn {
	position: relative;
	display: flex;
	justify-content: center;
}

.learn .container {
	width: 66.66rem;
	display: flex;
	background-color: #D8D8D8;
	padding-top: 1.77rem;
	padding-bottom: 1.77rem;
}

.container .column1 {
	padding-left: 1.33rem;
}

.learn img {
	max-width: 60%;
	height: auto;
	display: block;
	padding-right: 1.66rem;
}

.learninfo {
	padding-top: 4rem;

}

.learninfo h1 {
	font-size: 2rem;
	font-weight: 800;
	line-height: 2.5rem;
	padding-bottom: 1.5rem;

}

.learninfo p {
	font-size: 1.3rem;
	padding-bottom: 1.5rem;

}

.sartbutton {
	display: flex;
	justify-content: center;
}

.startbutton p {
	padding: .1875rem .5rem;
	background-color: #09AF69;
    line-height: 1.6;
    color: white;
    border-radius: .153rem;
    flex-shrink: 2;
}

.startbutton a {
	color: white;
	flex-shrink: 5;
	flex-wrap: wrap;

}

@media only screen and (max-width: 732px){
	.startbutton p {
		padding: .0875rem .05rem;
		background-color: #09AF69;
	    line-height: 1.6;
	    color: white;
	    border-radius: .153rem;
	    margin-bottom: 1.77rem;
	}

	.learn .container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.container img {
		height: auto;
		width: auto;
		display: block;
		padding-left: 1.33rem;
		padding-right: 2.22rem;
		padding-bottom: 1.77rem;
	}

	.learninfo {
		padding-left: .88rem;
	}

	.learninfo h1 {
		padding-bottom: 1.77rem;
		
	}

	.learninfo p {
		padding-bottom: 1.33rem;
	}
}

/*------------------------------------------------ Practice/thesis Section --- */ 

.practice,
.thesis {
	position: relative;
	display: flex;
	justify-content: center;
}

.thesis {
	flex-flow: column;
	align-items: center;
}

.thesis h1 {
	padding-top: 1.33rem;
}


.practice .container,
.thesis .container {
	width: 66.66rem;
	display: flex;
	padding-top: 1.77rem;
	padding-bottom: 1.77rem;
	border: 1px solid red;
}

.practice .container .column1 img {
	max-width: 87%;
	height: auto;
	display: block;
	padding-bottom: 1.77rem;
}

.thesis .container .column1 video {
	max-width: 87%;
	height: auto;
	display: block;
	padding-bottom: 1.77rem;
}


.column1 h1,
.thesis h1 {
	font-size: 2rem;
	font-weight: 800;
	line-height: 2.5rem;
	padding-bottom: 1.33rem;

}

.column1 p {
	font-size: 1.1rem;
	font-weight: 400;
	font-style: italic;
	padding-bottom: 2rem;
}

/*---- Right Side Sub-Columns --*/

.column2 #mobilephoto {
	display: none;
}

.subcolumn1,
.subcolumn2,
.subcolumn3 {
	width: 23.5rem;
	display: flex;
	align-items: space-between;
	border-bottom:  2px solid #D8D8D8;
	border-left:  2px solid #D8D8D8;
}

.subcolumn1 #desktopphoto, 
.subcolumn2 #desktopphoto, 
.subcolumn3 #desktopphoto {
	width: 8.22rem;
}

.subinfo {
	margin-left: 1.5rem;
}

.subcolumn1 h2,
.subcolumn2 h2,
.subcolumn3 h2 {
	font-weight: 700;
	font-size: 1.3rem;
	padding-top: 2rem;
	padding-bottom: .5rem;
}

.subcolumn1 p,
.subcolumn2 p,
.subcolumn3 p {
	font-size: .9rem;
	line-height: 1.6rem;
}

.subcolumn1 span,
.subcolumn2 span,
.subcolumn3 span {
	color: #4E92DF;
}

#desktopphoto img {
	height: auto;
	max-width: 99%;
	display: block;
	padding: .88rem;
}


.subcolumn3 {
	background-color: #D8D8D8;
}

/*-- @ Media Queries -- */

@media only screen and (max-width: 770px){

	.column2 #desktopphoto {
		display: none;
	}

	.column2 #mobilephoto {
		display: flex;
		
	}

	#mobilephoto img {
		height: auto;
		width: 90%;
		display: block;
	}

	.practice .container {
		display: flex;
		
	}

	.practice .column1 {
		display: none;
	}

	.practice .column2 {
		display: flex;
		flex-flow: column;
		width: 99%;
	}

	.subcolumn1,
	.subcolumn2,
	.subcolumn3 {
		display: flex;
		width: 95%;
		padding-top:  1rem;
		padding-bottom: 1rem;
		margin: 0;
	}

}

/* ------------------------------------------------ Start Learning Section -- */

.startlearning {
	position: relative;
	display: flex;
	justify-content: center;
}

.startlearning .container {
	width: 66.66rem;
	display: flex;
	padding-top: 1.77rem;
	padding-bottom: 1.77rem;
	background-color: #D8D8D8;
	flex-flow: column;
	align-items: center;
}

.startlearning h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.5rem;
	padding-bottom: 1.33rem;
}

/* --- Row  --------------------- */ 

.container .row1,
.container .row2 {
	display: flex;
	width: 85%;
	/*margin-left: 1rem;*/
	justify-content: space-between;
}

.row1 {
	margin-bottom: 1rem;
}

.card {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 31%;
	height: 20rem;
	background-color: white;
}

.card:hover {
	box-shadow: 10px 10px 10px gray;
	transition: box-shadow .2s linear 0;

}

.card img {
	height: auto;
	width: 99.9%;
	display: block;
}

.card #one {
	padding-right: 1.77rem;

}

.cardinfo h2 {
	font-weight: 700;
	font-size: 1.3rem;
	padding-top: .8rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid  #D8D8D8;

}

.cardinfo p {
	font-size: .9rem;
	line-height: 1.6rem;
	padding-top: .6rem;
}

.cardinfo span {
	font-weight: 600;
	padding-bottom: 1rem;
	color:  #D8D8D8;
}

/* -------------------------------------- Thesis Section ------- */

/*.thesis {
	display: flex;
	flex-flow: column;
	position: relative;
	align-items: center;
}

.thesis .container {
	display: flex;
	width: 66.66rem;
	padding-bottom: 2.77rem;
}

.thesis .container video  {
	max-width: 87%;
	height: auto;
	display: block;
	padding-bottom: 1.77rem;
}

.thesis h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.5rem;
	padding-bottom: 1.33rem;
	padding-top: 1.77rem;
}




/*width: 66.66rem;
	display: flex;
	padding-top: 1.77rem;
	padding-bottom: 1.77rem;
	background-color: #D8D8D8;
	flex-flow: column;
	align-items: center;*/

















